.no-js .hide_nojs {
	display: none;
}
.hide {
	display: none !important;
}
.hide_mobile {
	@mixin media to desk {
		display: none !important;
	}
}
.hide_desktop {
	@mixin media from desk {
		display: none !important;
	}
}
.link {
	color: inherit;
	text-decoration: none;
}
.no_decor {
	text-decoration: none;
}
.decor {
	text-decoration: underline;
}
/* old school underline */
a {
	text-decoration-thickness: 0.0667em;
	text-decoration-skip-ink: none;
}
.vh {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
}

.stretch,
.stretch_photo img,
.stretch_photo iframe,
.stretch_photo object,
.stretch_photo video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.stretch,
.stretch_photo img,
.stretch_photo video {
	object-fit: contain;
	object-position: 50% 50%;
}
.stretch--cover,
.stretch_photo--cover img,
.stretch_photo--cover video {
	object-fit: cover;
}
.link_overlay::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}
.vam {
	vertical-align: middle;
	tom: 0;
	left: 0;
	content: '';
}
.vam {
	vertical-align: middle;
}
