/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

/* button reset */
.ui-button {
	position: relative;
	appearance: none;
	cursor: pointer;
	margin: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	padding: 0;
	text-decoration: none;
}
